# =====================================
# Word 临时文件
# =====================================

~$*

# =====================================
# Windows 系统文件
# =====================================

Thumbs.db
Desktop.ini

# =====================================
# Keil 用户配置
# =====================================

*.uvguix.*

# =====================================
# Keil 编译输出文件
# =====================================

*.axf
*.hex
*.bin

# =====================================
# 编译过程文件
# =====================================

*.o
*.d
*.dep
*.crf

# =====================================
# 编译日志与报告
# =====================================

*.log
*.lst
*.map
*.htm
*.build_log.htm

# =====================================
# Keil 临时文件
# =====================================

*.bak
*.lnp

# =====================================
# 编译输出目录
# =====================================

TwistedPairTester/MDK-ARM/Objects/
TwistedPairTester/MDK-ARM/Listings/